.cards {
  max-width: 880px;
}
.cards__list {
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin: 0 auto;
}
