.header {
  border-bottom: solid rgb(84 84 84/ 0.7) 1px;
  padding-bottom: 40px;
  background-color: black;
  max-width: 880px;
  margin: 0 auto;
}
.header__logo {
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 770px) {
  .header {
    max-width: 320px;
    padding: 28px 0 32px 27px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
