.profile {
  display: flex;
  min-height: 120px;
  padding: 0;
  justify-content: space-between;
  max-width: 880px;
  align-items: center;
}
.profile__people {
  display: flex;
  align-items: center;
}
.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile__photo {
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.profile__avatar:hover .profile__photo,
.profile__avatar-edit-button:hover ~ .profile__photo {
  opacity: 0.5;
}
.profile__avatar-edit-button {
  background-image: url(../images/avatarEditIcon.png);
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.profile__avatar:hover .profile__avatar-edit-button,
.profile__avatar-edit-button:hover {
  visibility: visible;
}

.profile__info {
  margin-left: 30px;
}
.profile__info-accent {
  display: flex;
  gap: 18px;
  align-items: center;
}
.profile__name {
  margin: 0;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 380px;
}
.profile__description {
  margin: 0;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 410px;
}
.profile__edit-button {
  background-image: url(../images/Edit\ Button.svg);
  width: 24px;
  height: 24px;
}
.profile__add-button {
  margin-left: 10px;
  background-image: url(../images/Add\ Button.svg);
  width: 150px;
  height: 50px;
}
@media screen and (max-width: 770px) {
  .profile {
    min-height: 286px;
  }
  .profile__people {
    flex-direction: column;
    gap: 26.25px;
  }

  .profile__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .profile__info-accent {
    gap: 10px;
  }
  .profile__name {
    font-size: 22px;
    max-width: 250px;
  }
  .profile__description {
    font-size: 14px;
    max-width: 282px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-image: url(../images/Edit\ Button\ small.svg);
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto 0;
    background-image: url(../images/add\ button\ small.svg);
    border-radius: 2px;
    border: 2px solid #fff;
  }
}
