<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Around the US</title>
  </head>
  <body class="page">
    <header class="header page__header">
      <img
        src="<%= require('./images/header-logo.svg')%>"
        alt="around the US"
        class="header__logo"
      />
    </header>
    <main class="content">
      <section class="profile page__profile">
        <div class="profile__people">
          <div class="profile__avatar">
          <img
            src="<%= require('./images/jacques-cousteau.jpg')%>"
            alt="Avatar"
            class="profile__photo"
          />
          <button
          class="profile__avatar-edit-button button"
          type="button"
          id="profile-avatar-edit-button"
        ></button>
      </div>
          <div class="profile__info">
            <div class="profile__info-accent">
              <h1 class="profile__name" id="js-profile-name">
                Jacques Cousteau
              </h1>
              <button
                class="profile__edit-button button"
                type="button"
                id="profile-edit-button"
              ></button>
            </div>

            <p class="profile__description" id="js-profile-description">
              Explorer
            </p>
          </div>
        </div>
        <button class="profile__add-button button" type="button"></button>
      </section>
      <section class="cards page__cards">
        <ul class="cards__list"></ul>
      </section>
    </main>
    <footer class="footer page__footer">
      <p class="footer__copyright">© 2022 Around The U.S.</p>
    </footer>
    <!-- edit button modal -->
    <div class="modal" id="profile-edit-modal">
      <div class="modal__container">
        <button
          class="modal__close button"
          id="profile-edit-modal-close-btn"
        ></button>
        <p class="modal__heading">Edit profile</p>
        <form class="modal__form" id="profile-edit-form">
          <label class="modal__label">
            <input
              type="text"
              name="title"
              class="modal__input"
              id="modal-title-input"
              placeholder="Name"
              minlength="2"
              maxlength="40"
              required
            />
            <span class="modal__error" id="modal-title-input-error"></span>
          </label>
          <label class="modal__label">
            <input
              type="text"
              name="description"
              class="modal__input"
              id="modal-description-input"
              placeholder="Description"
              minlength="2"
              maxlength="200"
              required />
            <span class="modal__error" id="modal-description-input-error"></span
          ></label>
          <button
            class="modal__save button modal__save_disabled"
            disabled
            type="submit"
          >
            Save
          </button>
        </form>
      </div>
    </div>

    <!-- add button modal -->
    <div class="modal" id="profile-add-card-modal">
      <div class="modal__container">
        <button
          class="modal__close button"
          id="profile-add-card-modal-close-btn"
        ></button>
        <p class="modal__heading">New Place</p>
        <form class="modal__form" id="add-card-form">
          <label class="modal__label">
            <input
              type="text"
              name="title"
              class="modal__input modal__input_type_title"
              id="modal-image-title-input"
              placeholder="Title"
              minlength="1"
              maxlength="30"
              required
            />
            <span
              class="modal__error"
              id="modal-image-title-input-error"
            ></span>
          </label>
          <label class="modal__label">
            <input
              type="url"
              name="link"
              class="modal__input modal__input_type_link"
              id="modal-link-input"
              placeholder="Image Link"
              required />
            <span
              class="modal__error"
              id="modal-link-input-error"
            ></span></label
          ><button
            class="modal__save button modal__save_disabled"
            disabled
            type="submit"
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <!-- open pic modal -->
    <div class="modal open-pic modal__open-pic" id="open-pic-modal">
      <div class="modal__container modal__open-pic-container">
        <button
          class="modal__close button"
          id="open-pic-modal-close-btn"
        ></button>
        <img src="" alt="" class="modal__open-pic-image" id="open-pic-image" />
        <p class="modal__open-pic-title" id="open-pic-title"></p>
      </div>
    </div>
    <!-- delete card modal -->
    <div class="modal modal__delete-card" id="delete-card-modal">
      <div class="modal__container modal__delete-card-container">
        <p class="modal__delete-card-title modal__heading" id="delete-card-title">
          Are you sure?
        </p>
        <button
          class="modal__save button"
          type="submit"
          id="delete-card-submit-btn"
        >
          Yes
        </button>
        <button
          class="modal__close button"
          id="delete-card-modal-close-btn"
        ></button>
      </div>
    </div>
    <!-- change profile pic modal -->
    <div
      class="modal change-profile-pic modal__change-profile-pic"
      id="change-profile-pic-modal"
    >
      <div class="modal__container modal__change-profile-pic-container">
        <p
          class="modal__change-profile-pic-title modal__heading"
          id="change-profile-pic-title"
        >
          Change profile picture
        </p>
        <form class="modal__form" id="change-profile-pic-form">
          <label class="modal__label">
            <input
            type="url"
              name="link"
              class="modal__input"
              id="change-profile-pic-input"
              placeholder="Link"
              required
            />
            <span class="modal__error" id="modal-title-input-error"></span>
          </label>
        <button
          class="modal__save button modal__save_disabled"
          disabled
          type="submit"
        >
          Save
        </button>
        <button
          class="modal__close button"
          id="delete-card-modal-close-btn"
        ></button>
      </div>
    </div>
    <!-- template -->
    <template id="card-template">
      <li class="card cards__card">
        <img src="" alt="" class="card__image" />
        <img src="" alt="" class="card__trash" />
        <div class="card__about-image">
          <h2 class="card__description"></h2>
          <button class="card__button button" type="button"></button>
        </div>
      </li>
    </template>
  </body>
</html>
